@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400;1,600&display=swap');
@font-face {
    font-family: "CustomFont";
    src:url("CustomFont.otf") format("opentype");
    }

body{
    background: linear-gradient($secondary, $primary);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-family: "CustomFont", sans-serif;
}

.page{
    background-color: $neutral;
    width: 50%;
    padding: 2em;
    border-radius: 30px;
    margin-top: 2em;
}

h1{
    margin-top: 0;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
}

#nameList--text{
    display: flex;
    flex-direction: column;
    height: 10em;
    padding: 1em 0;
    overflow: scroll;
    .nameContainer{
        display: flex;
        margin: 1em 0 0 0;
        label{
            flex: 3;
        }
        input{
            flex: 1;
        }
    }
    
}

button{
    background-color: $bold;
    padding:1em 3em;
    border: none;
    color: $neutral;
    border-radius: 8px;
}

.buttonBox{
    width: 100%;
    display: flex;
    justify-content: center;
    button{
        padding: 1em 5em;
    }
}

header{
    form{
        display: flex;
        align-items: baseline;
        .headerPart{
            flex: 1;
        }
        .headerPartBtn{
            display: flex;
            justify-content: end;
        }
    }
}

.hidden{
    display: none;
}

.mobile{
    
    @media only screen and (max-width: 765px) {
        display: block;
    }
    display: none;
}

.desktop{
    display: block;
    @media only screen and (max-width: 765px) {
        display: none;
    }
}